@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  /* background-color: #F2F4F8 */
}

nav {
  @apply flex justify-around items-center gap-5 text-gray-300;
  color: "#aaa";
}
#featured {
  @apply grid grid-cols-1 lg:grid-cols-2  gap-7 p-5;
}
#featured-left {
  @apply text-white self-center;
}
#featured-left h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 700;
}
#featured-left p {
  color: rgba(34, 32, 32, 0.795);
}

#featured-right {
  border-radius: 5px;
  overflow: hidden;
}

#button-wrapper {
  @apply flex flex-col md:flex-row gap-3 md:gap-6 mt-5;
}

#new-products {
  @apply grid grid-cols-1 md:grid-cols-3 gap-10 mt-5 place-items-center;
}

#all-categories {
  @apply grid grid-cols-3 md:grid-cols-4 lg:grid-cols-8 gap-4 mt-5 p-3 md:p-0;
}

@media screen and (max-width: 767px) {
  #cart-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 80px;
  }
  #price-icon {
    opacity: 1;
  }
  #cart-icon {
    opacity: 1;
  }
}
